# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv311/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# MLflow
mlruns/
.venv/
# Model Artifacts
artifacts/
*.pkl

# Environment
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db